$font-os: "Oswald", cursive;
$font-raleway: "Raleway", cursive;
$font-rubik: "Rubik", cursive;

$color-primary: #27ae60;
$color-secondary: #219150;
$color-yellow: #FFD289;
$color-black: #444;
$light-color: #666;
$border: .1rem solid rgba(0,0,0,0.1);
$border-hover: .1rem solid var($color-black);
$box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1); 